@font-face {
  font-family: authentic;
  src: url(/assets/css/fonts/AUTHENTICSans-60.otf);
}

:root {

  /* colors */
  --back: white;
  --fore: black;
  --accent: rgb(222, 199, 227);
  --grid: rgb(12, 206, 255);

  /* fonts */
  --title: 'title', 'Times New Roman', Times, serif;
  --body: 'body', 'authentic', Arial, Helvetica, sans-serif;
  --comments: 'comments', 'Courier New', Courier, monospace;
  --footnotes: 'footnotes', 'Courier New', Courier, monospace;

  /* borders */
  --thin: 0.25px solid;
  --gridline: var(--thin) var(--grid);
  --gridshadow: 0 0 0 1px var(--grid);

  /* speeds */
  --fast: 100ms;

  /* timing functions */
  --linear: linear;

  /* math */
  --radical2: 1.41421356;

  /* default mesaurements */
  --header-height: 5rem;
  --header-child-collapsed-width: var(--header-height);
  --header-child-expanded-width: calc(  var(--main-width) - var(--header-height) );
  --main-width: min( 100vw, 50rem );
  --side-width: min( 100vw, 15rem );

  --form-base-height: 2.5rem;
  --form-base-width: 6rem;
  --form-expanded-height: 8rem;
  --form-expanded-width: var(--side-width);

}

/* Accessibility media queries */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
    opacity: unset !important;
  }
}

@media (prefers-contrast: more) {
  :root {
    --back: white;
    --fore: black;
  }
  *:focus {
    outline: 0.5rem solid;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --back: black;
    --fore: white;
  }
}


/* browser support coming soon */
/* https://drafts.csswg.org/mediaqueries-5/#mf-user-preferences */

@media (inverted-colors: inverted) { }
@media (prefers-reduced-data: no-preference) { }
@media (prefers-reduced-transparency: reduce) { }


/* saving myself a lot of headaches */

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

*:focus {
  outline-color: var(--accent);
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 2px;
}

img {
  max-width: 100%;
}

html, body {
  margin: 0; padding: 0;
  background-color: var(--back);
  color: var(--fore);
  font-family: 'authentic';
}

body {
  counter-reset: footnote;
}



/* header */

header {
  display: flex;
  align-items: center;
  height: var(--header-height);
  /* border-top: var(--thin); */
  border-bottom: var(--thin);
  z-index: 1;
  font-size: 1.5rem;
}

header a.skip-to-main {
  z-index: 1;
  --header-child-collapsed-width: 0;
  --header-child-expanded-width: calc(  var(--main-width) - var(--header-height) );
}

header nav {

}
header nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
  margin: 0;
  gap: 1rem;
  overflow: hidden;
  border-radius: inherit;
}

header nav ul li {
  height: 100%;
  align-items: center;
  border-radius: inherit;
}

header a {
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--fore);
  border-radius: inherit;
}

header form {
  width: 100%;
}
header form input[type="search"] {
  width : inherit;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
  border: unset;
  padding: inherit;
  font-size: inherit;
  padding-inline: 1rem;
}

header form input[type="submit"] {
  display: none;
}

header .title {
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  border-radius: var( --header-height );
}

header .title a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: lighter;
  text-transform: lowercase;

}






header .collapsible {
  /* width: 100%; */
  height: 100%;
  max-width: var(--header-child-collapsed-width);
  /* overflow: hidden; */
  transition:
    max-width var(--fast) var(--linear),
    padding var(--fast) var(--linear),
    border var(--fast) var(--linear)
  ;
  display: flex;
  align-items: center;
  border-radius: var( --header-height );
  border: var(--thin) transparent;

}


header nav.collapsible::after,
header form.collapsible::after {
  border: var(--thin);
  content: '';
  position: absolute;
  top: -0.25px; right: 0;
  height: var( --header-height ); width: var( --header-height );
  background-color: var(--back);
  /* background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath d='M0%2C0 L1%2C0 M0%2C0.5 L1%2C0.5 M0%2C1 L1%2C1'/%3E%3C/svg%3E" ) */
  /* M0,0 L1,0 M0,0.5 L1,0.5 M0,1 L1,1 */
  border-radius: var( --header-height );
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity var(--fast) var(--linear);
}

header nav.collapsible::after {
  content: '≡';
  padding-top: 0.25rem;
  font-size: 4rem;
  font-weight: 100;
}

header form.collapsible::after {
  pointer-events: none;
}

header form.collapsible::before {
  content: '';
  position: absolute;
  bottom: 0; right: 0;
  /* https://math.stackexchange.com/questions/377234/circle-in-square-calculate-distance-from-squares-corner-to-circles-perimeter */
  --length: calc( 0.5 * var(--header-height) * ( var(--radical2) - 1 )  );
  width: var(--length); height:0;
  rotate: 45deg;
  transform-origin: bottom right;
  border-top: var(--thin);
  background-color: red;
}

header .collapsible.expanded,
header .collapsible:focus-within {
  padding-inline: 1rem;
  border: var(--thin);
  max-width: var(--header-child-expanded-width);
}

header form.collapsible.expanded,
header form.collapsible:focus-within {
  padding-inline: unset;
}

header form.collapsible.expanded input[type="search"],
header form.collapsible:focus-within input[type="search"] {
}

header nav.collapsible.expanded::after,
header form.collapsible.expanded::after,
header nav.collapsible:focus-within::after,
header form.collapsible:focus-within::after {
  opacity: 0;
  border: unset;
  pointer-events: none;
}
