
/* main as article */

main {
}



main h1 {
  font-size: 6rem;
  text-align: center;
  margin-block: 0;
  margin-inline: 1rem;
  font-family: var(--title);
  /* width: 100%; */
  /* padding: 0.5rem; */
  /* margin-inline: calc( var(--header-height) / 2); */
  /* box-shadow:var(--gridshadow); */
}

main .stats {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: right;
  text-align: right;
  font-family: var(--comments);
}



main section {

}


main .row {
  display: flex;
}

main > .row:first-child {
    border-top: none;
}

main > .row {
  border-top: var(--gridline);
  padding-inline: calc( var(--header-height) / 2 );
}

main .row .column {
  --cw : 1;
  width: 100%;
  --col-width: calc( var(--cw) * var(--main-width) );
  max-width: var(--col-width);
}



main .row .column[data-col-width="1/1"] { --cw : calc( 1 / 1 ) }
main .row .column[data-col-width="1/2"] { --cw : calc( 1 / 2 ) }
main .row .column[data-col-width="1/3"] { --cw : calc( 1 / 3 ) }
main .row .column[data-col-width="1/4"] { --cw : calc( 1 / 4 ) }
main .row .column[data-col-width="1/5"] { --cw : calc( 1 / 5 ) }
main .row .column[data-col-width="1/6"] { --cw : calc( 1 / 6 ) }

main > .row:first-child .block {
    clip-path: inset(0px -1px -1px -1px);
}

main .block {
  background-color: var(--back);
  color: var(--fore);
  box-shadow:var(--gridshadow);
  padding: 0.5rem;
}

main .block::before {
  content: '';
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--back);
  opacity: 0;
  z-index: 0;
  pointer-events: none;
  /* transition: opacity var(--fast) var(--linear); */
}


/* if a block will contain a nested alyopuit inside it, remvoe padding */
main .block.columns {
  padding: 0;
}

main .block a {
  color: var(--accent);
}


main .row .column .block .contents {
  max-width: var(--main-width);
}

main .row .column .block .contents > *:nth-child(1) {
  margin-block-start: 0;
}

main .row .column .block .contents > *:nth-last-child(1) {
  margin-block-end: 0;
}

main .block video,
main .block audio {
  width: 100%;
}
main .block figcaption,
main .block .caption {
  font-style: italic;
}
main .block figure {
  margin-inline: unset;
}
main .block.page_embed a {
  text-decoration: none;
  color: var(--fore)
}

main .block.page_embed a h1 {
}

main .row .column .block aside {
  position: absolute;
  max-width: var(--side-width);
  top: 1rem;
  --n: 1;
  --df : calc( 1 - var(--cw) * var(--n) );
  left : calc( var(--col-width) + 1rem + var(--df) * var(--main-width));
  width: var(--side-width);
  z-index: 1;
  border-radius: calc( var(--header-height) / 4);
  transition: left var(--fast) var(--linear);
}

main .row .column:nth-of-type(1) .block aside { --n: 1 }
main .row .column:nth-of-type(2) .block aside { --n: 2 }
main .row .column:nth-of-type(3) .block aside { --n: 3 }
main .row .column:nth-of-type(4) .block aside { --n: 4 }
main .row .column:nth-of-type(5) .block aside { --n: 5 }
main .row .column:nth-of-type(6) .block aside { --n: 6 }


main .row .column .block aside .thread {
  border-radius: inherit;
  margin-bottom: 1rem;
  z-index: 1;

}

main .row .column .block aside article {
  padding: 1rem;
  background-color: var(--accent);
  box-shadow: 0 0 1rem 0 var(--accent);
  margin-bottom: 1rem;
  font-family: var(--comments);
  border-radius: inherit;
}

main .row .column .block aside article footer {
  margin-top: 0.5rem;
}

/* main .row .column .block:not(.columns):focus-within,
main .row .column .block:not(.columns):focus-within aside article,
main .row .column .block:not(.columns) aside article:focus-within { */
main .row .column .block:focus-within,
main .row .column .block:focus-within aside article,
main .row .column .block aside article:focus-within {
  box-shadow: 0 0 2rem 0 var(--accent);
}

main .row .column .block:focus-within {
  z-index: 10;
  box-shadow: 0 0 2rem 0 var(--accent), var(--gridshadow);
  /* filter: drop-shadow(0 0 500rem var(--grid)); */
}


main .row .column .block:focus-within::before {
  opacity: 0.75;
}

main .row .column .block:focus-within > aside  {
  left : calc( var(--col-width) + 1rem );
}

aside p {
  margin-block: 0;
}

.comment-highlight,
section .highlight {
  display: inline;
  background-color: var(--accent);
}



/* comment form */

main form.comment_form {
  background-color: var(--accent);
  max-height: var(--form-base-height);
  max-width: var(--form-base-width);
  border-radius: calc( var(--header-height) / 4);
  padding: 0.25rem;
  /* width: 100%;
  height: 100%; */
  display: none;
  overflow: hidden;
  /* color: transparent; */
  box-shadow: 0 0 2rem 0 var(--accent);
  font-family: var(--comments);

}

main form.comment_form input {
  margin: 0.25rem;
  font-family: inherit;
  width: calc( 100% - 0.5rem );
  outline-color: var(--grid);
  background-color: inherit;
  /* border: 3px solid var(--grid); */
  padding: 0.25rem;
  color: inherit;
  border-radius: inherit;
}
main form.comment_form input[type="text"] {
  border: unset;
}
main form.comment_form input[type="submit"] {
  display: none;
}

main .small_italic {
  font-size: 0.7rem;
  font-style: italic;
  font-family: var(--comments);
  line-height: 1;
  opacity: 0.7rem;
}
main form.comment_form label p {
  margin-inline: 0.5rem;
}


main .toolbar {
  position: absolute;
  width: var(--side-width);
  /* height: var(--side-width); */
  height: fit-content;
  z-index: 10;
  --top: 0;
  --left: 0;
  top: var(--top);
  left: var(--left);
}

main .toolbar form.comment_form {
  /* display: unset; */
}

main .toolbar:not(.hidden) form.comment_form,
main form.comment_form:focus-within {
  max-height: var(--form-expanded-height);
  max-width: var(--form-expanded-width);
  color: var(--fore);
  display: block;
  overflow: visible;
}

main .toolbar.hidden {
  --top: -999px;
  --left: -999px;
}

.toolbar-btn-wrapper {
    position: relative
}

.toolbar-btn-hide {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

main .row .column .block:not(.columns):hover form.comment_form,
main .row .column .block:not(.columns):focus-within aside .thread:first-of-type form.comment_form,
main .row .column .block:not(.columns) aside .thread form.comment_form:focus-within,
main .row .column .block:not(.columns) aside .thread:focus-within form.comment_form  {
  display: block;
  /* position: absolute; */
}




/* <2022-11-11T11:12> andré: move this where it makes more sense to you karlito */
.ref-ft {
  text-decoration: none;
  color: var(--fore);
  vertical-align: super;
  font-size: smaller;
}


.ref-ft:after {
    counter-increment: footnote;
    content: "[" counter(footnote) "]";
    padding-left: 0.15rem;
}

/* <2022-11-14T10:58> andré: bad CSS */

main .notes.column[data-col-width="1/1"] {
  max-width: calc( var(--main-width) / 1 );
  padding: 0 0 0 calc( var(--header-height) / 2 );
  width: 100%;
}

.notes ol {
    padding-left: 0;
    display: inline-table;
    list-style: none;
}

.notes ol li {
    padding: 0.5rem;
    display: table-row;
    counter-increment: number-list;
    font-family:  var(--footnotes);
}

.notes ol li::before {
    content: counter(number-list) '.';
    display: table-cell;
    text-align: right;
    padding: 0 0.3rem 0 0;
    width: 1.5rem;
}

.notes ol li:target {
  outline-color: var(--accent);
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 2px;
}

.notes ol li p {
    margin: 0;
    padding: 0.25rem;
    display: inline;
}

.note-ref-backlink {
  padding-left: 0.3rem;
}


/* block-embed iframe */

.block-embed-container {
  position: relative;
}

.block-embed-preview {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-embed-preview iframe {
  max-width: 100% !important;
}

.block-embed-container[data-provider="youtube"] .block-embed-preview iframe, .block-embed-container[data-provider="vimeo"] .block-embed-preview iframe {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
}

.block-embed-preview-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: #efefef url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXR0ZXJuIGlkPSJhIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiPjxwYXRoIGZpbGw9InJnYmEoMCwgMCwgMCwgMC4yKSIgZD0iTTAgMGgxMHYxMEgwem0xMCAxMGgxMHYxMEgxMHoiLz48L3BhdHRlcm4+PHJlY3QgZmlsbD0idXJsKCNhKSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIvPjwvc3ZnPg==);
    opacity: .45;
}

.highlight-tip {
    z-index: 3;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}


/* andré i think you can style different vew modes here */

main:has( select#view_mode option[value="1"]:checked ) {}
main:has( select#view_mode option[value="1"]:checked ) .thread {
  display: none;
}
main:has( select#view_mode option[value="2"]:checked ) {}

/* default : balanced */
main:has( select#view_mode option[value="3"]:checked ) {}

main:has( select#view_mode option[value="4"]:checked ) {
  --main-width: min( 100vw, 30rem );
  --side-width: min( 100vw, 35rem );
}

main:has( select#view_mode option[value="5"]:checked ) {
  --main-width: min( 100vw, 20rem );
  --side-width: min( 100vw, 45rem );
}

.hidden {
    display: none;
}

/* for PHP input form */
.honey {
  position: absolute;
  left: -9999px;
}


/* comment-review list */


.comment-toggle {
    width: fit-content;
    max-width: 9rem;
}

.comment-review {
    padding: 2rem 0;
    flex-direction: column;
}

.comment-review fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.comment-data {
    counter-reset: comment;
}

.comment-list-wrapper {
    display: flex;
    padding-bottom: 1rem;
}

.comment-list-input {
    margin: 0;
    height: 1rem;
}

.comment-list-label {
    display: flex;
    padding-left: 1rem;
}

.comment-list-label:before {
    counter-increment: comment;
    content: counter(comment) ".";
    padding-right:  1rem;
}

.comment-label-wrapper {
    padding-right: 1rem;
}

.comment-label-wrapper input[type=text] {
    margin-bottom: 1rem;
}

.comment-label-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
}

.comment-label-wrapper p:first-child {
    padding-bottom: 0.5rem;
}

.comment-list-edit {
    max-height: 1.5rem;
    height: fit-content;
    cursor: pointer;
    margin-right: 1rem;
}

.comment-list-remove {
    max-height: 1.5rem;
    height: fit-content;
    cursor: pointer;
    margin-right: 1rem;
}

.comment-list-show-highlight {
    padding-right: 1rem;
}

.alert {
    border: 1px solid red;
}

.comment-header {
    display: flex;
    flex-direction: row;
    padding: 0 0 1.5rem 0;
}

.comment-status {
    width: 50%;
    margin: 0;
}

.comment-username-wrapper {
    width: 50%;
}

.comment-username-wrapper label {
    padding-top: 0.25rem;
}

.comment-label-wrapper input[type=text] {
    border: none;
}

.comment-username-wrapper input[type=text] {
    border: none;
    margin-right: 1rem;
}

.comment-username {
    padding-right: 0.5rem;
}

.comment-username-edit-btn {
    cursor: pointer;
}

.comment-draft {
    border: 1px dashed green;
}
